.ps-panel {
    position: relative;
    border-radius: 5px;
    background-color: #e5e5e5;
    box-shadow: inset 0px 0px 0px 2px #fff;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 10px;

    &--yellow {
        background-color: #e5c341;
        box-shadow: inset 0px 0px 0px 2px #ffd948;
    }
    
    &--green {
        background-color: #7ac956;
        box-shadow: inset 0px 0px 0px 2px #88e060;
    }
    
    &--red {
        background-color: #e1742d;
        box-shadow: inset 0px 0px 0px 2px #fa8132;
    }
    
    &--blue {
        background-color: #28a1d4;
        box-shadow: inset 0px 0px 0px 2px #2cb3ec;
    }
}